<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle id="first" class="hidden-lg hidden-xl">
                <ion-button>
                    <ion-icon style="font-size:25px" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>
        <ion-buttons slot="end"  class="hidden-xs hidden-sm">
            <ion-button>
                <ion-icon slot="icon-only" name="mail" style="color:red;"></ion-icon>
            </ion-button>
            <ion-button routerLink="/members/board">
                <ion-icon slot="icon-only" name="walk" style="color:green;"></ion-icon>
            </ion-button>
            <ion-button routerLink="/members/project">
                <ion-icon slot="icon-only" name="git-network" style="color:orange;"></ion-icon>
            </ion-button>
            <ion-button routerLink="/members/box">
                <ion-icon slot="icon-only" name="cube" style="color:blue;"></ion-icon>
            </ion-button>
            <ion-button routerLink="/members/game">
                <ion-icon slot="icon-only" name="logo-game-controller-a" style="color:purple;"></ion-icon>
            </ion-button>
            <ion-button routerLink="/members/user-profile">
                <ion-icon slot="icon-only" name="contact" style="color:grey;"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end"  class="hidden-md hidden-lg hidden-xl">
            <ion-button (click)="popoverProfile($event)">
                <ion-icon slot="icon-only" name="apps"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content padding>
BoxPage
</ion-content>

<!-- <ion-menu side="start" menuId="custom" class="my-custom-menu" content-id="content" auto-hide="false">
   <ion-header>
    <ion-toolbar color="tertiary">
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Params</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item>Profile</ion-item>
      <ion-item>Params</ion-item>
      <ion-item>Politique de confidentialite</ion-item>
      <ion-item>Avis</ion-item>
      <ion-item (click)="this.auth.logout()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Box</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="content">

</ion-content> -->
