<ion-menu side="start" menuId="custom" class="my-custom-menu" content-id="content" auto-hide="false">
  <!-- <ion-img src="/assets/space.png" style="height:50% !important"></ion-img> -->
  <ion-header>
    <ion-toolbar color="tertiary">
      <!-- <ion-title>Params</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Params</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item>Profile</ion-item>
      <ion-item>Params</ion-item>
      <ion-item>Politique de confidentialite</ion-item>
      <ion-item>Avis</ion-item>
      <ion-item (click)="this.auth.logout()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Box</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-col size="12" size-md="11" offset-md="0.5" size-lg="10" offset-lg="1" size-xl="7" offset-xl="2.5"> -->
<ion-content padding id="content">

</ion-content>
